* {
    margin: 0;
    padding: 0;
}

.container header {
    background-color: #14243c;
    width: 100%;
    height: 90px;
    margin: auto;
}

.main-container header .container-header {
    max-width: 1075px;
    margin: auto;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 25px 20px;
}

.main-container header .container-header img {
    width: 150px;
    height: 80;
}

.main-container header .container-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.main-container header .container-header nav ul li a {
    text-decoration: none;
    color: snow;
    margin: 0 25px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

